!subprojects/plugin/src/test/resources/compiledJavaccFile/target
**/gen/
**/out-dir/
*.*~
*.asc
*.iml
.checkstyle
.classpath
.gradle
.gradle/
.groovy
.idea
.project
.settings
.settings/
.svn/
/bin/
/build/
/buildSrc/bin/
/buildSrc/build/
/buildSrc/out/
/buildSrc/subprojects/*/bin/
/buildSrc/subprojects/*/build/
/buildSrc/subprojects/*/out/
/classes/
/examples/*/bin/
/examples/*/build/
/examples/*/out/
/examples/bin/
/examples/build/
/examples/out/
/junit/
/out/
/release-perform.log
/release-prepare.log
/src/main/generated-sources/
/target/
/test/bin/
/test/build/
/test/out/
TEST-*
ant.log
build-eclipse
cobertura.ser
dist/
docs/a_voir_javacc.txt
examples/JJTreeExamples/cpp/eg*/
javacc-*.tar.gz
javacc-*.zip
mvn.log
test.tmp/
tmp/