**/generated-sources/
.gradle
.groovy
.classpath
.project
.checkstyle
.settings
.idea
*.iml
target
build
build-eclipse
!subprojects/plugin/src/test/resources/compiledJavaccFile/target

.svn/

bin/
classes/
test.tmp/
tmp/
target/
gradle/
junit/
TEST-*
**/out-dir/
*.*~
*.asc
examples/JJTreeExamples/cpp/eg*/
**/gen/
test/**/*.h
test/**/*.cc
test/**/*.jj
test/**/*.jjt