[submodule "codgen/cpp"]
	path = codgen/cpp
	url = https://github.com/javacc/javacc-codgen-cpp.git
	
[submodule "codgen/java"]
	path = codgen/java
	url = https://github.com/javacc/javacc-codgen-java.git
	
[submodule "codgen/csharp"]
	path = codgen/csharp
	url = https://github.com/javacc/javacc-codgen-csharp.git
